/* Tags modifiers */

/* Add colours, fonts and font sizes */
body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header {
    background-color: hsl(0, 0%, 43%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 24pt;
}

p, label, input, form {
    font-size: 16pt;
}

main {
    background-color: #6e6e6e;
    margin-bottom: 10px;
    border-radius: 10px;
}

aside {
    background-color: #6e6e6e;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #525252;
    border-radius: 10px;
    clear: both;
}

/* Style the nav to show as a block of buttons by default */
nav ul {
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    width: 100%;
    background-color: #2c2c2c;
    border-radius: 10px;
}

nav li {
    border: 2px solid #2c2c2c;
    background-color: #525252;
    list-style-type: none;
    padding: 16px;
    text-decoration: none;
    width: 100%;
    overflow: clip;
    border-radius: 10px;
}

nav ul a {
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

nav li:hover {
    background-color: #000000;
}

.active {
    background-color: #2c2c2c;
}

/* Style all tables with fonts, colours, etc. */
table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
}

table td, table th {
    border: 0.5px solid #000011;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #525252;
}

table tr:hover {
    background-color: black;
}

table th {
    background-color: #2c2c2c;
}

/* Add padding to all semantic elements */
header, nav, main, aside, footer {
    padding: 10px;
}

/* Style the form */
form label, form legend {
    color: white;
    vertical-align: top;
}

form input[type="text"], form input[type="email"], form input[type="password"], form textarea {
    background: #2c2c2c;
    color: white;
    border-radius: 5px;
}

input::file-selector-button, button[type="submit"] {
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
    padding: 3px 5px;
}




/* ID modifiers */
/* Make the logo align left next to title and 50px square */
#logo {
    width: 50px;
    height: 50px;
    float: left;
    margin: auto;
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#title {
    display: inline;
    margin: auto;
    vertical-align: middle;
}

#gallery {
    display: inline-block;
}

/* Add margins to the top of the right column */
#right-col {
    margin-top: 1%;
}

/* Style the gallery to always have 2 images side-by-side */
#gallery div {
    display: inline;
    width: 48%;
}

/* Add an appropriate cursor, as well as a single size to all images in the gallery */
#gallery img {
    cursor: pointer;
    display: inline;
    width: 48%;
    object-fit: cover;
    height: 200px;
}

/* Style the full size image viewer */
/* Hide gallery image viewer by default */
#imgViewer {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6e6e6e;
    border-radius: 5px;
    padding: 10px;
    max-height: 90vh;
}

#imgViewerButton {
    position: relative;
    left: calc(100% - 30px);
    margin-bottom: 5px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background: none;
    font-size: 20px;
}

#imgViewerImg {
    max-width: 95vw;
    max-height: 80vh;
}

#imgViewerImg {
    min-height: 300px;
}

/* Make the image carousel images a single size */
.imageCarouselImg {
    object-fit: cover;
    width: 100%;
    margin: auto;
    height: 500px;
}



/* Media dependent modifiers */
/* Make right column larger if screen is between 1100-1200px (to ensure readability of both columns) */
@media screen and (min-width:1100px) and (max-width: 1200px) {
    #left-col {
        width: 60% !important;
    }

    #right-col {
        width: 39% !important;
    }
}

/* Position left and right columns on top of each other if screen is 800-1100px */
@media screen and (max-width: 1100px) {
    #left-col {
        clear: both !important;
        width: 100% !important;
    }

    #right-col {
        clear: both !important;
        width: 100% !important;
    }
}


/* Only execute when screen is at least 800px wide */
@media screen and (min-width: 800px) {
    /* Make the nav go in one line */
    nav ul {
        display: inline-block;
        width: initial;
    }

    nav {
        width: initial;
    }

    nav li {
        float: left;
        width: initial;
        max-width: 20%;
        min-width: 140px;
    }

    /* Position the left and right columns next to each other */
    #left-col {
        width: 74%;
        float: left;
    }

    #right-col {
        float: right;
        margin-top: 0;
        width: 25%;
        min-width: 300px;
    }

    /* Make all images in the gallery small enough to fit 3 per row */
    #gallery div, #gallery div img {
        width: 30%;
    }

    /* Add hover=enlarge functionality to gallery images */
    #gallery div img {
        transition: 0.4s ease-in-out;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #gallery div:hover, #gallery div img:hover, #gallery div:focus, #gallery div img:focus {
        width: calc(30% + 10px);
        height: 210px;
    }

    #gallery div img:hover, #gallery div img:focus {
        margin-right: 0;
        margin-bottom: 0;
        transition: 0.4s ease-in-out;
    }
}

